body{
    background-color: rgb(11, 135, 184) ;
    display: flex;
    justify-content: center;
    
    
}
mark{
    background-color: yellow;
    color: rgb(34, 177, 238);
}

h4{
    font-size: larger;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}
.text-secondary{
    font-size: large;
    margin-left: 70px;
    color: black;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: relative;
    left:160px;
  }
.report-main{
    width: 1080px;
    height: 500px;
    background-color:white;
    border-radius: 2%;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
.report-main2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-main3{
    width : 70%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* .bug-report-form {
    flex-direction: column;
} */
.bug-report form span {
    display: flex;
    justify-content: space-between;
 
}
#severity-level{
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
textarea,
select,
input {
    width: 400px;
      
    border: 1px solid #ccc;
    border-radius: 3px;  
}
.report-body {
    height: 100%;
}
.report-body form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input[type="text"]{
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.report-body form [type="button"]{
    background-color: rgb(8, 156, 215);
    width: 150px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    height : 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
input[type="button"]:hover {
    background-color: #1c23e4;
}
input[type="button"] {
    display: block;
    margin: 0 auto;
}